[Unit]
Description=Keepass password backup
After=syslog.target

[Service]
ExecStart=/usr/local/bin/password-backup-detect.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
